/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
/* Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Crimson Pro", serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

/* Loader */
.loader-wrapper {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d4a656;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s ease-in-out;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #b0744a;
    border-top: 8px solid #090909;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-wrapper.loaded {
    opacity: 0;
    pointer-events: none;
}

/* Background */
.background-vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
}

/* Navigation bar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #9d7b47;
    padding: 10px 20px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    position: relative;
    height: 55px;
}

.logo-separator {
    border-right: 2px solid #b39f88;
    height: 30px;
    margin-left: 15px;
}

.logo-container {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    height: 100%;
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fef0d9;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
}

nav a:hover {
    color: #e7c89e;
}