.container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    position: relative;
    border-radius: 10%;
    overflow: hidden;
}

a:not(.map) {
    width: 18%;
}

a span {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    z-index: 5;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
}

a img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.luxor {
    order: 1;
    margin-right: 10px;
}

.map {
    order: 2;
    cursor: default;
    height: 60%;
}

.giza {
    position: absolute;
    top: calc(64.5vh + 10px);
}

.aswan {
    order: 3;
    margin-left: 10px;
}