nav {
  position: static;
}

h1 {
  text-align: center;
  margin: 20px auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #db890d;
  background-color: var(--text);
  border: 5px solid var(--border);
  border-radius: 15px;
  width: max-content;
  text-shadow: 10px 10px 10px rgb(70, 70, 11);
}

h1:hover {
  color: rgb(70, 70, 11);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 5px solid var(--border);
  padding: 10px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

/* done */
th {
  background-color: var(--text);
  border: 5px solid var(--border);
  color: #db890d;
  font-weight: bolder;
  font-size: 30px;
  font-family: fantasy;
  text-shadow: 15px 15px 15px rgb(70, 70, 11);

}


tr:nth-child(even) {
  background-color: var(--text);
  border: 5px solid var(--border);
}