<nav>
    <div class="logo-container">
        <img src="../images/logo.png" alt="Logo">
        <div class="logo-separator"></div>
    </div>
    <ul>
        <li class="nav-dropdown">
            <a href="../index.html">Home <i class="fas fa-caret-down"></i></a>
            <div class="nav-dropdown-content">
                <a href="#">Aswan</a>
                <a href="#">Luxor</a>
                <a href="#">Giza</a>
            </div>
        </li>
        <li><a href="../pages/souvenirs.html">Souvenirs</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
        <li><a href="#">Page 4</a></li>
        <li><a href="../pages/login.html">Login</a></li>
    </ul>
</nav>