<nav>
    <div class="logo-container">
        <img src="../images/logo.png" alt="Logo">
        <div class="logo-separator"></div>
    </div>
    <ul>
        <li class="nav-dropdown">
            <a href="../index.html">Home <i class="fas fa-caret-down"></i></a>
            <div class="nav-dropdown-content">
                <a href="../pages/aswan.html">Giza/Aswan</a>
                <a href="../pages/luxor.html">Luxor</a>
            </div>
        </li>
        <li class="nav-dropdown">
            <a href="../pages/services.html">Services <i class="fas fa-caret-down"></i></a>
            <div class="nav-dropdown-content">
                <a href="../pages/souvenirs.html">Souvenirs</a>
                <a href="../pages/services.html">Services</a>
                <a href="../pages/booking.html">Booking</a>
            </div>
        </li>
        <li class="nav-dropdown">
            <a href="#">Explore <i class="fas fa-caret-down"></i></a>
            <div class="nav-dropdown-content">
                <a href="../pages/map.html">Map</a>
                <a href="../pages/gods.html">Ancient Egypt Gods</a>
                <a href="../pages/kings.html">Ancient Egypt Kings</a>
                <a href="../pages/events.html">Events</a>
                <a href="../pages/topPlaces.html">Top-Places</a>
            </div>
        </li>
        <li class="nav-dropdown">
            <a href="#">Info <i class="fas fa-caret-down"></i></a>
            <div class="nav-dropdown-content">
                <a href="../pages/faqs.html">FAQs</a>
                <a href="../pages/team.html">Team</a>
            </div>
        </li>
        <li><a href="../pages/login.html">Login</a></li>
    </ul>
    <button id="theme-toggle" onclick="toggleTheme()">
        <i class="fas fa-sun"></i>
    </button>
</nav>